<!DOCTYPE html>
<html lang="fr">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Patient</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/eb88cc226a.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div th:replace="fragments/navbar"></div>

        <div class="card mt-5 m-auto">
            <div class="card-header">
                <h1 th:text="${patient.id} ? 'Edit Patient' : 'Ajout Patient'"></h1>
            </div>
            <div class="card-body">

                <form th:action="${patient.id} ? @{/updatePatient(id=${patient.id})} : @{/addPatient}"
                    th:object="${patient}" method="post">
                    <div class="mb-3">
                        <label for="nom" class="form-label">nom:</label>
                        <input type="text" th:field="*{nom}" class="form-control" id="nom" placeholder="nom">
                        <span th:if="${#fields.hasErrors('nom')}" class="text-danger" th:errors="*{nom}"></span>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">email:</label>
                        <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="email">
                        <span th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></span>
                    </div>


                    <input type="submit" class="btn btn-primary" th:value="${patient.id} ? 'Editer'  : 'Ajouter'">
                </form>

            </div>
        </div>
    </div>
</body>

</html>